body{
    overflow: hidden;
}

.slots-color-palette-set{
    width: 50%;
    text-align: center;
    margin: 5px 5px 15px 5px;
    border-radius: 5px;
    box-shadow: 0 7px 6px -6px black;
    cursor: pointer;
}

.slot-color-palette{
    border-radius: 5px;
    padding: 10px;
    font-family: sans-serif;
}

.update-slot_container{
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-family: sans-serif;
}

.user-panel img{
    height: 35px !important;
    width: 35px !important;
}